{% extends "layout.html" %}

{% block content %}
    {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.username }}'s Profile</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
<!-- Button to toggle Edit Mode -->
<div class="container mt-4">
        <h1>Perfil de {{ user.username }} </h1>

        <!-- Display User Information -->
        <div class="row">
            <div class="col-md-6">
                <h3>Informações pessoais</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>Nome:</strong> {{ user.first_name }} {{ user.last_name }}
                    </li>
                    <li class="list-group-item">
                        <strong>Email:</strong> {{ user.email }}
                    </li>
                    <li class="list-group-item">
                        <strong>Telemóvel:</strong> {{ account.phone }}
                    </li>
                    <li class="list-group-item">
                        <strong>CC:</strong> {{ account.cc }}
                    </li>
                    <li class="list-group-item">
                        <strong>Morada:</strong> {{ account.address }}
                    </li>
                    <li class="list-group-item">
                        <strong>Carteira:</strong> {{ account.wallet }} €
                    </li>
                </ul>
            </div>

            <!-- Display Profile Image -->
            <div class="col-md-6">
                <h3>Profile Image</h3>
                {% if account.image %}
                    <img src="{{ account.image.url }}" alt="Profile Image" class="img-fluid rounded-circle" width="150" height="150">
                {% else %}
                    <img src="{% static 'fonts/imgs/defaultUser.png' %}" alt="Profile Image" class="img-fluid rounded-circle" width="150" height="150">
                {% endif %}
                <form method="post" action="." enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row mb-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ image_form.image }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-success" value="Update Profile Picture">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
            </div>
            
        </div>

        <!-- Edit Button -->
        <div class="row">
            <div class="mt-4">
                <a href="{% url 'edit_account' %}" class="btn btn-secondary">Edit Profile</a>
            </div>
            <div class="mt-4 ml-4">
                <a href="{% url 'edit_account' %}" class="btn btn-secondary">Change Password</a>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}