{% extends "layout.html" %}

{% block content %}

<h1>Criar conta</h1>
<form action="." method="POST">
    {% csrf_token %}
    <div class="form-group">
        {{ form.firstname.label }}
        <div class="col-md-10">
            {{ form.firstname }}
        </div>
    </div>
    <div class="form-group">
        {{ form.lastname.label }}
        <div class="col-md-10">
            {{ form.lastname }}
        </div>
    </div>
    <div class="form-group">
        {{ form.email.label }}
        <div class="col-md-10">
            {{ form.email }}
        </div>
    </div>
    <div class="form-group">
        {{ form.username.label }}
        <div class="col-md-10">
            {{ form.username }}
        </div>
    </div>
    <div class="form-group">
        {{ form.password1.label }}
        <div class="col-md-10">
            {{ form.password1 }}
        </div>
    </div>
    <div class="form-group">
        {{ form.password1.label }}
        <div class="col-md-10">
            {{ form.password1 }}
        </div>
    </div>
    
    <div><button type="submit">Criar conta</button></div>
</form>



////////////////////////////////////////////////////////////////////////////////////////
  <p>Search by: <strong>{{ query }}</strong></p>
  {% if boks %}
    <p>Found {{ boks|length }} book{{ boks|pluralize }}.</p>
    <ul>
      {% for bok in boks %}
        <li>{{ bok.title }}</li>
        <ul>
          <li>{{ bok.publisher }}</li>
          <li>{{ bok.date }}</li>
          <ul>
            {% for aut in bok.authors.all %}
              <li>{{ aut }}</li>
            {% endfor %}
          </ul>
        </ul>
          <form action="{% url 'buy_book' book.id %}">
              {% csrf_token %}
              <button type="submit">Buy</button>
          </form>
      {% endfor %}
    </ul>
  {% else %}
    <p>Not found any result.</p>
  {% endif %}
{% endblock %}