<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Django WebProject</title>

    {% load static %}
    <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
      <link rel="stylesheet" href="{% static 'css/home.css' %}">
  </head>

  <body>
    <nav class="navbar">
    <div class="navbar-left">
        <a href="{% url 'home' %}" class="logo">
            <img src="{% static 'images/Amor_camisola.png' %}" alt="Logo" class="logo-image">
            <span class="company-name">AmorCamisola</span>
        </a>
        <a href="{% url 'publishproduct' %}">Vender Produto</a>
    </div>
    <div class="navbar-right">
        <a href="{%  url 'wallet' %}"><i class="fas fa-wallet"></i></a>
        <a href="{%  url 'favorite_list' %}"><i class="fas fa-heart"></i></a>
        {% include 'loginpartial.html' %}
    </div>
</nav>

    <main role="main">
        <div class="container body-content">
            <p></p>
            {% block content %} {% endblock %}
        </div> <!-- /container -->
    </main>

    <footer>
        <hr />
        <p>&copy; {{ year }} - My Django Application</p>
    </footer>

    <!-- JQuery and Bootstrap core
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'scripts/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'scripts/popper.min.js' %}"></script>
    <script src="{% static 'scripts/bootstrap.min.js' %}"></script>

  </body>
</html>