{% if user.is_authenticated %}
<form id="logoutForm" action="/logout" method="post" class="navbar-right">
    {% csrf_token %}
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="accountDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Account</button>
        <div class="dropdown-menu" aria-labelledby="accountDropdown">
                        <a class="dropdown-item" href="{% url 'profile' username=user.username %}">My Profile</a>
                        <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
        </div>
    </div>

</form>

{% else %}
<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'login' %}">Login</a></li>
    <li><a href="{% url 'createaccount' %}">Criar Conta</a></li>
</ul>
{% endif %}
