{% extends "layout.html" %}

{% block content %}
    <h1>. </h1>

    
<div class="container mt-5">
    <!-- User Profile Header -->
    <div class="row">
        <div class="col text-center">
            <h1 class="display-4">{{ user.username }}</h1>
        </div>
    </div>


    <!-- Personal Info Section -->
    <div class="row mt-4">
        <div class="col">
            <h5 class="text-primary">Personal Information</h5>
            <p class="offset-md-1"><i class="bi bi-person-fill"></i> First name: {{ user.firstname }}</p>
            <p class="offset-md-1"><i class="bi bi-person-badge-fill"></i> Last name: {{ user.lastname }}</p>
        </div>
    </div>

    

    <!-- Following Section -->
    <div class="row mt-4">
        <div class="col">
            <h5 class="text-primary">Following:</h5>
            <ul class="list-group">
                {% for following in followList %}
                    <li class="list-group-item">
                        <i class="bi bi-person-fill"></i> {{ following.username }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Currently Selling Section -->
    <div class="row mt-4">
        <div class="col">
            <h5 class="text-primary">Currently selling:</h5>
            <ul class="list-group">
                {% for item in selling %}
                    <li class="list-group-item">
                        <i class="bi bi-box-seam"></i> {{ item.name }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Contact Information -->
    <div class="row mt-4">
        <div class="col">
            <h5 class="text-primary">Contact Information</h5>
            <p class="offset-md-1"><i class="bi bi-envelope-fill"></i> Email: {{ user.email }}</p>
            <p class="offset-md-1"><i class="bi bi-telephone-fill"></i> Phone: {{ user.phone }}</p>
            <p class="offset-md-1"><i class="bi bi-geo-alt-fill"></i> Phone: {{ user.address }}</p>
        </div>
    </div>
</div>

<!-- Optional: Include Bootstrap Icons (if needed) -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">


{% endblock %}
